In [1]:
# Find our file
import os
for file in os.listdir():
    if file.endswith(".csv"):
        print(file)

climate_results.csv
fatalities_isr_pse_conflict_2000_to_2023[1].csv
imdb_movies_shows[1].csv
italy-covid-daywise.csv
job_postings.csv
locations.csv
personInfoCopy.csv
results.csv

In [2]:
# Libraries we need 
import pandas as pd
import numpy as np

In [3]:
pd.options.display.min_rows = 20

In [4]:
# Read our data in
raw_df = pd.read_csv("job_postings.csv")

In [5]:
# Overview
raw_df

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346
5,3757937037,13727.0,Territory Manager - New Haven,"Location: Remote, CT, United States of America...",NaN,NaN,NaN,NaN,Full-time,United States,...,1.700000e+12,Mid-Senior level,NaN,1.699080e+12,www.zoll.com,0,FULL_TIME,NaN,NaN,1699137801
6,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,NaN,NaN,Full-time,"Daytona Beach, FL",...,NaN,Entry level,NaN,1.699080e+12,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699089473
7,3757936167,2915.0,"ACME D8- Asst Store Director (ASD) Sussex, NJ",The First Assistant Store Director is actively...,NaN,NaN,NaN,NaN,Full-time,"Sussex, NJ",...,NaN,Mid-Senior level,NaN,1.699090e+12,eofd.fa.us6.oraclecloud.com,0,FULL_TIME,NaN,NaN,1699138852
8,3757936097,18213359.0,Dishwasher,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar...",NaN,19.30,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699089324
9,3757936026,634806.0,Instrumentation Quality Control Representative...,Instrumentation Quality Control Representative...,NaN,NaN,NaN,NaN,Contract,United States,...,NaN,Entry level,NaN,1.699130e+12,jobs.stsigroup.com,0,CONTRACT,NaN,NaN,1699137876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33236,903408693,3894635.0,Office Associate,Provide clerical and administrative support to...,42000.0,NaN,37000.0,YEARLY,Full-time,"Albany, GA",...,NaN,NaN,NaN,1.692730e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
33237,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,NaN,NaN,NaN,1.692870e+12,NaN,1,FULL_TIME,NaN,NaN,1
33238,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,NaN,NaN,Full-time,"Forney, TX",...,NaN,NaN,NaN,1.692830e+12,NaN,0,FULL_TIME,NaN,NaN,1
33239,218881389,NaN,Accounting Associate,My client a local office is seeking an Account...,NaN,NaN,NaN,NaN,Full-time,"Bolingbrook, IL",...,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,NaN,NaN,1699084455
33240,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,NaN,NaN,Contract,"New York, NY",...,NaN,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",...,NaN,NaN,NaN,1.692830e+12,NaN,0,FULL_TIME,NaN,NaN,1
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699044401
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,NaN,NaN,Full-time,Greater Boston,...,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,NaN,NaN,1699063495
33244,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,NaN,NaN,NaN,1.692750e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",...,NaN,NaN,Must be a seasoned stylist with an existing bo...,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699057868

In [6]:
raw_df.head(10) # Grab first 10 rows

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346
5,3757937037,13727.0,Territory Manager - New Haven,"Location: Remote, CT, United States of America...",NaN,NaN,NaN,NaN,Full-time,United States,...,1.700000e+12,Mid-Senior level,NaN,1.699080e+12,www.zoll.com,0,FULL_TIME,NaN,NaN,1699137801
6,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,NaN,NaN,Full-time,"Daytona Beach, FL",...,NaN,Entry level,NaN,1.699080e+12,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699089473
7,3757936167,2915.0,"ACME D8- Asst Store Director (ASD) Sussex, NJ",The First Assistant Store Director is actively...,NaN,NaN,NaN,NaN,Full-time,"Sussex, NJ",...,NaN,Mid-Senior level,NaN,1.699090e+12,eofd.fa.us6.oraclecloud.com,0,FULL_TIME,NaN,NaN,1699138852
8,3757936097,18213359.0,Dishwasher,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar...",NaN,19.30,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699089324
9,3757936026,634806.0,Instrumentation Quality Control Representative...,Instrumentation Quality Control Representative...,NaN,NaN,NaN,NaN,Contract,United States,...,NaN,Entry level,NaN,1.699130e+12,jobs.stsigroup.com,0,CONTRACT,NaN,NaN,1699137876

In [7]:
raw_df.sample(5) # 5 randow rows of data

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
1763,3757740362,1063.0,Success Programs Manager *GES Premier* 1413772,What You'll Do\n\nThe Success Programs Manager...,178200.0,NaN,127900.0,YEARLY,Full-time,"New York, NY",...,NaN,NaN,NaN,1.699050e+12,jobs.cisco.com,0,FULL_TIME,USD,BASE_SALARY,1699072327
17122,3748838923,1123.0,"Tier-3 Network Operations Service Specialist, ...",Job Description:\n\nAbout Us:\n\nAt Bank of Am...,NaN,NaN,NaN,NaN,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.698970e+12,careers.bankofamerica.com,0,FULL_TIME,NaN,NaN,1698993921
22471,3699082075,34218.0,Medical Assistant (Prenatal Department)- New B...,Job Description Summary\nJob Description:\n**F...,NaN,20.0,NaN,HOURLY,Full-time,"New Britain, CT",...,NaN,Entry level,NaN,1.692830e+12,careers.mwhs1.com,0,FULL_TIME,USD,BASE_SALARY,1
14568,3749374854,13309.0,AUKUS International Agreements Advisor,"Overview\n\nSystems Planning and Analysis, Inc...",NaN,NaN,NaN,NaN,Full-time,"Alexandria, VA",...,NaN,Mid-Senior level,NaN,1.699050e+12,careers-spa.icims.com,0,FULL_TIME,NaN,NaN,1699064537
16389,3749346168,75056372.0,Compliance Associate,A leading wealth management firm in Miami is l...,80000.0,NaN,70000.0,YEARLY,Full-time,"Miami, FL",...,NaN,Associate,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699037005

In [8]:
#  View all of our columns
for col in raw_df.columns:
    print(col)

job_id
company_id
title
description
max_salary
med_salary
min_salary
pay_period
formatted_work_type
location
applies
original_listed_time
remote_allowed
views
job_posting_url
application_url
application_type
expiry
closed_time
formatted_experience_level
skills_desc
listed_time
posting_domain
sponsored
work_type
currency
compensation_type
scraped

In [9]:
# Let's determine which job has the highest annual salary
raw_df['max_salary'].max()

1300000.0

In [10]:
raw_df[raw_df.max_salary == raw_df.max_salary.max()]

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
27035,3694103424,92699700.0,Quantitative Developer,Goliath Partners has a requirement at a leadin...,1300000.0,NaN,800000.0,YEARLY,Full-time,Greater Chicago Area,...,NaN,Mid-Senior level,NaN,1.692840e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1

In [11]:
raw_df.info() # Overview of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   job_id                      33246 non-null  int64
 1   company_id                  32592 non-null  float64
 2   title                       33246 non-null  object
 3   description                 33245 non-null  object
 4   max_salary                  11111 non-null  float64
 5   med_salary                  2241 non-null   float64
 6   min_salary                  11111 non-null  float64
 7   pay_period                  13352 non-null  object
 8   formatted_work_type         33246 non-null  object
 9   location                    33246 non-null  object
 10  applies                     16238 non-null  float64
 11  original_listed_time        33246 non-null  float64
 12  remote_allowed              4802 non-null   float64
 13  views                       25886 non-null  float64
 14  job_posting_url             33246 non-null  object
 15  application_url             20996 non-null  object
 16  application_type            33246 non-null  object
 17  expiry                      33246 non-null  float64
 18  closed_time                 1172 non-null   float64
 19  formatted_experience_level  24065 non-null  object
 20  skills_desc                 337 non-null    object
 21  listed_time                 33246 non-null  float64
 22  posting_domain              19688 non-null  object
 23  sponsored                   33246 non-null  int64
 24  work_type                   33246 non-null  object
 25  currency                    13352 non-null  object
 26  compensation_type           13352 non-null  object
 27  scraped                     33246 non-null  int64
dtypes: float64(11), int64(3), object(14)
memory usage: 7.1+ MB

In [12]:
raw_df.shape # number of rows and column

(33246, 28)

In [13]:
raw_df.describe() # Summary stats of all numeric columns

,job_id,company_id,max_salary,med_salary,min_salary,applies,original_listed_time,remote_allowed,views,expiry,closed_time,listed_time,sponsored,scraped
count,3.324600e+04,3.259200e+04,1.111100e+04,2241.000000,11111.000000,16238.000000,3.324600e+04,4802.0,25886.000000,3.324600e+04,1.172000e+03,3.324600e+04,33246.000000,3.324600e+04
mean,3.723675e+09,1.145638e+07,8.880883e+04,32426.170598,62650.128421,18.895246,1.695907e+12,1.0,58.339875,1.699525e+12,1.692082e+12,1.696043e+12,0.244150,8.872011e+08
std,9.264310e+07,2.391219e+07,8.764506e+04,76860.422528,58732.644143,49.059029,3.163863e+09,0.0,141.253774,4.421979e+09,4.061876e+09,3.134178e+09,0.429588,8.487133e+08
min,3.958427e+06,1.009000e+03,1.000000e+01,0.000000,7.250000,1.000000,1.686210e+12,1.0,1.000000,1.694270e+12,1.690000e+12,1.691670e+12,0.000000,1.000000e+00
25%,3.697367e+09,1.840100e+04,5.100000e+01,18.780000,40.945000,2.000000,1.692740e+12,1.0,4.000000,1.695340e+12,1.690000e+12,1.692750e+12,0.000000,1.000000e+00
50%,3.749345e+09,4.687820e+05,8.392800e+04,29.000000,62128.000000,5.000000,1.696910e+12,1.0,16.000000,1.701630e+12,1.690000e+12,1.698960e+12,0.000000,1.698996e+09
75%,3.756905e+09,9.222480e+06,1.400000e+05,42746.000000,100000.000000,16.000000,1.699040e+12,1.0,54.000000,1.701640e+12,1.690000e+12,1.699050e+12,0.000000,1.699065e+09
max,3.757940e+09,1.011741e+08,1.300000e+06,998426.000000,800000.000000,1615.000000,1.699090e+12,1.0,5656.000000,1.714680e+12,1.700000e+12,1.699140e+12,1.000000,1.699140e+09

In [14]:
raw_df.isna().sum() # Number of NaN Values in each column

job_id                            0
company_id                      654
title                             0
description                       1
max_salary                    22135
med_salary                    31005
min_salary                    22135
pay_period                    19894
formatted_work_type               0
location                          0
applies                       17008
original_listed_time              0
remote_allowed                28444
views                          7360
job_posting_url                   0
application_url               12250
application_type                  0
expiry                            0
closed_time                   32074
formatted_experience_level     9181
skills_desc                   32909
listed_time                       0
posting_domain                13558
sponsored                         0
work_type                         0
currency                      19894
compensation_type             19894
scraped                           0
dtype: int64

In [15]:
raw_df[['job_id','min_salary','pay_period']][raw_df.min_salary > 0].head(10) # Looking at some data

        job_id  min_salary pay_period
4   3757937095    205956.0     YEARLY
11  3757935381     58000.0     YEARLY
19  3757935001    125000.0     YEARLY
24  3757934347        20.0     HOURLY
27  3757934319    121000.0     YEARLY
28  3757934318        25.0     HOURLY
33  3757934281     96000.0     YEARLY
34  3757934267     85000.0     YEARLY
35  3757934264    125000.0     YEARLY
38  3757934178    125000.0     YEARLY

In [16]:
# What columns do we want to work with ?
cols = ['job_id','company_id','title', 'description', 'max_salary','min_salary', 'job_posting_url', 
       'formatted_work_type', 'remote_allowed', 'skills_desc', 'compensation_type']

In [17]:
raw_df[cols]

,job_id,company_id,title,description,max_salary,min_salary,job_posting_url,formatted_work_type,remote_allowed,skills_desc,compensation_type
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,NaN,https://www.linkedin.com/jobs/view/3757940104/...,Full-time,NaN,NaN,BASE_SALARY
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,Full-time,NaN,NaN,NaN
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,Full-time,NaN,Bachelor's Degree in Mechanical Engineering pr...,NaN
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,NaN,https://www.linkedin.com/jobs/view/3757938018/...,Full-time,NaN,NaN,BASE_SALARY
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,205956.0,https://www.linkedin.com/jobs/view/3757937095/...,Full-time,1.0,NaN,BASE_SALARY
5,3757937037,13727.0,Territory Manager - New Haven,"Location: Remote, CT, United States of America...",NaN,NaN,https://www.linkedin.com/jobs/view/3757937037/...,Full-time,1.0,NaN,NaN
6,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,https://www.linkedin.com/jobs/view/3757937004/...,Full-time,NaN,NaN,NaN
7,3757936167,2915.0,"ACME D8- Asst Store Director (ASD) Sussex, NJ",The First Assistant Store Director is actively...,NaN,NaN,https://www.linkedin.com/jobs/view/3757936167/...,Full-time,NaN,NaN,NaN
8,3757936097,18213359.0,Dishwasher,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar...",NaN,NaN,https://www.linkedin.com/jobs/view/3757936097/...,Full-time,NaN,NaN,BASE_SALARY
9,3757936026,634806.0,Instrumentation Quality Control Representative...,Instrumentation Quality Control Representative...,NaN,NaN,https://www.linkedin.com/jobs/view/3757936026/...,Contract,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
33236,903408693,3894635.0,Office Associate,Provide clerical and administrative support to...,42000.0,37000.0,https://www.linkedin.com/jobs/view/903408693/?...,Full-time,NaN,NaN,BASE_SALARY
33237,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,https://www.linkedin.com/jobs/view/529257371/?...,Full-time,NaN,NaN,NaN
33238,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,https://www.linkedin.com/jobs/view/381055942/?...,Full-time,NaN,NaN,NaN
33239,218881389,NaN,Accounting Associate,My client a local office is seeking an Account...,NaN,NaN,https://www.linkedin.com/jobs/view/218881389/?...,Full-time,NaN,NaN,NaN
33240,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,https://www.linkedin.com/jobs/view/133196985/?...,Contract,NaN,NaN,NaN
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,https://www.linkedin.com/jobs/view/133114754/?...,Full-time,NaN,NaN,NaN
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,https://www.linkedin.com/jobs/view/108965123/?...,Full-time,NaN,NaN,NaN
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,https://www.linkedin.com/jobs/view/102339515/?...,Full-time,NaN,NaN,NaN
33244,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,45760.0,https://www.linkedin.com/jobs/view/85008768/?t...,Full-time,NaN,NaN,BASE_SALARY
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,35000.0,https://www.linkedin.com/jobs/view/3958427/?tr...,Full-time,NaN,Must be a seasoned stylist with an existing bo...,BASE_SALARY

In [18]:
raw_df[cols].dtypes # Grab the type associated with each column

job_id                   int64
company_id             float64
title                   object
description             object
max_salary             float64
min_salary             float64
job_posting_url         object
formatted_work_type     object
remote_allowed         float64
skills_desc             object
compensation_type       object
dtype: object

In [19]:
raw_df[cols].memory_usage(deep=True) # Number of bytes occupied by each column

Index                        128
job_id                    265968
company_id                265968
title                    2948109
description            225061212
max_salary                265968
min_salary                265968
job_posting_url          4188982
formatted_work_type      2190565
remote_allowed            265968
skills_desc              1394092
compensation_type        1544544
dtype: int64

In [20]:
raw_df[cols].memory_usage(deep=True).sum() # Obvious

238657472

In [21]:
raw_df.memory_usage(deep=True).sum() - raw_df[cols].memory_usage(deep=True).sum() # Total memory - minus how much we are now using

20190172

In [22]:
(
raw_df
[cols]
    .select_dtypes([int,float]) 
    .describe()
)

             job_id    company_id    max_salary     min_salary  remote_allowed
count  3.324600e+04  3.259200e+04  1.111100e+04   11111.000000          4802.0
mean   3.723675e+09  1.145638e+07  8.880883e+04   62650.128421             1.0
std    9.264310e+07  2.391219e+07  8.764506e+04   58732.644143             0.0
min    3.958427e+06  1.009000e+03  1.000000e+01       7.250000             1.0
25%    3.697367e+09  1.840100e+04  5.100000e+01      40.945000             1.0
50%    3.749345e+09  4.687820e+05  8.392800e+04   62128.000000             1.0
75%    3.756905e+09  9.222480e+06  1.400000e+05  100000.000000             1.0
max    3.757940e+09  1.011741e+08  1.300000e+06  800000.000000             1.0

In [23]:
raw_df[cols]

,job_id,company_id,title,description,max_salary,min_salary,job_posting_url,formatted_work_type,remote_allowed,skills_desc,compensation_type
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,NaN,https://www.linkedin.com/jobs/view/3757940104/...,Full-time,NaN,NaN,BASE_SALARY
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,https://www.linkedin.com/jobs/view/3757940025/...,Full-time,NaN,NaN,NaN
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,https://www.linkedin.com/jobs/view/3757938019/...,Full-time,NaN,Bachelor's Degree in Mechanical Engineering pr...,NaN
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,NaN,https://www.linkedin.com/jobs/view/3757938018/...,Full-time,NaN,NaN,BASE_SALARY
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,205956.0,https://www.linkedin.com/jobs/view/3757937095/...,Full-time,1.0,NaN,BASE_SALARY
5,3757937037,13727.0,Territory Manager - New Haven,"Location: Remote, CT, United States of America...",NaN,NaN,https://www.linkedin.com/jobs/view/3757937037/...,Full-time,1.0,NaN,NaN
6,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,https://www.linkedin.com/jobs/view/3757937004/...,Full-time,NaN,NaN,NaN
7,3757936167,2915.0,"ACME D8- Asst Store Director (ASD) Sussex, NJ",The First Assistant Store Director is actively...,NaN,NaN,https://www.linkedin.com/jobs/view/3757936167/...,Full-time,NaN,NaN,NaN
8,3757936097,18213359.0,Dishwasher,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar...",NaN,NaN,https://www.linkedin.com/jobs/view/3757936097/...,Full-time,NaN,NaN,BASE_SALARY
9,3757936026,634806.0,Instrumentation Quality Control Representative...,Instrumentation Quality Control Representative...,NaN,NaN,https://www.linkedin.com/jobs/view/3757936026/...,Contract,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
33236,903408693,3894635.0,Office Associate,Provide clerical and administrative support to...,42000.0,37000.0,https://www.linkedin.com/jobs/view/903408693/?...,Full-time,NaN,NaN,BASE_SALARY
33237,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,https://www.linkedin.com/jobs/view/529257371/?...,Full-time,NaN,NaN,NaN
33238,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,https://www.linkedin.com/jobs/view/381055942/?...,Full-time,NaN,NaN,NaN
33239,218881389,NaN,Accounting Associate,My client a local office is seeking an Account...,NaN,NaN,https://www.linkedin.com/jobs/view/218881389/?...,Full-time,NaN,NaN,NaN
33240,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,https://www.linkedin.com/jobs/view/133196985/?...,Contract,NaN,NaN,NaN
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,https://www.linkedin.com/jobs/view/133114754/?...,Full-time,NaN,NaN,NaN
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,https://www.linkedin.com/jobs/view/108965123/?...,Full-time,NaN,NaN,NaN
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,https://www.linkedin.com/jobs/view/102339515/?...,Full-time,NaN,NaN,NaN
33244,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,45760.0,https://www.linkedin.com/jobs/view/85008768/?t...,Full-time,NaN,NaN,BASE_SALARY
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,35000.0,https://www.linkedin.com/jobs/view/3958427/?tr...,Full-time,NaN,Must be a seasoned stylist with an existing bo...,BASE_SALARY

In [24]:
#  Grab data only where min_salary != NaN and skills_desc != NaN
raw_df[cols][(raw_df.min_salary.isna() == False) & (raw_df.skills_desc.isna() == False) ]

,job_id,company_id,title,description,max_salary,min_salary,job_posting_url,formatted_work_type,remote_allowed,skills_desc,compensation_type
1331,3757749049,7045554.0,URGENT CARE NURSE PRACTITIONER (PART-TIME),\n*Part-time position. 6pm-10pm shift*\nURGENT...,67.3,52.88,https://www.linkedin.com/jobs/view/3757749049/...,Full-time,NaN,"\n\nURGENT CARE NURSE PRACTITIONER EDUCATION, ...",BASE_SALARY
1622,3757742930,7045554.0,MOBILE CLINIC NURSE PRACTITIONER,\nMOBILE CLINIC NURSE PRACTITIONER JOB SUMMARY...,140000.0,110000.00,https://www.linkedin.com/jobs/view/3757742930/...,Full-time,NaN,\n\nMOBILE CLINIC NURSE PRACTITIONER EDUCATION...,BASE_SALARY
1739,3757740572,1792592.0,Hiring Event Servers!,"\nPinstripes is an unique, upscale Italian/Ame...",15.0,12.00,https://www.linkedin.com/jobs/view/3757740572/...,Full-time,NaN,\nThis Job Is Ideal for Someone Who Is:Dependa...,BASE_SALARY
1785,3757739979,461332.0,Plumber Heating and AC,\n$5k SIGN ON BONUS for CT HVAC license of typ...,40.0,25.00,https://www.linkedin.com/jobs/view/3757739979/...,Full-time,NaN,\n\nRequired Skills and Experience:High School...,BASE_SALARY
1788,3757739818,461332.0,Customer Relationship Manager,\nThe Customer Relationship Manager is a main ...,25.0,23.00,https://www.linkedin.com/jobs/view/3757739818/...,Full-time,NaN,Minimum of 1 year work experience in the trade...,BASE_SALARY
2647,3757730381,598521.0,Nurse Practitioner or Physician Assistant,\nPart-time position (20 hours per week) to pa...,65000.0,50000.00,https://www.linkedin.com/jobs/view/3757730381/...,Full-time,NaN,\nFor NP: Current Colorado RN license or Nurse...,BASE_SALARY
3043,3757722366,77681076.0,Real Estate Broker Associate,Are you looking for a leadership opportunity w...,130000.0,90000.00,https://www.linkedin.com/jobs/view/3757722366/...,Full-time,NaN,Qualifications\n\nReal estate license required...,BASE_SALARY
3287,3757708469,82254665.0,Real Estate Buyers Salesperson,"We’re looking for a motivated, dynamic Real Es...",120000.0,80000.00,https://www.linkedin.com/jobs/view/3757708469/...,Full-time,NaN,Qualifications\n\nReal estate license required...,BASE_SALARY
4680,3757489456,7149222.0,Residential Care Assistant,\nPOSITION OVERVIEW\nEver Well Health is searc...,17.5,15.51,https://www.linkedin.com/jobs/view/3757489456/...,Full-time,NaN,\n\nSUMMARY OF DUTIES AND RESPONSIBILITIES\n\n...,BASE_SALARY
5116,3757485915,7149222.0,Cook,\nPlease be aware - Must be able to meet and r...,17.0,16.00,https://www.linkedin.com/jobs/view/3757485915/...,Full-time,NaN,"\n\nGENERAL EDUCATION, EXPERIENCE AND SKILLSEd...",BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...
28530,3693583950,5785700.0,Production Forklift Operator,Great Brands - Bigger PurposeAs a Certified B...,29.0,24.00,https://www.linkedin.com/jobs/view/3693583950/...,Full-time,NaN,Licenses & CertificationsDriver's LicenseForkl...,BASE_SALARY
29232,3693070851,748875.0,Art Facilitator,If you have experience with teaching Art and i...,35.0,25.00,https://www.linkedin.com/jobs/view/3693070851/...,Contract,NaN,About\n• Competitive pay- $25.00-$35.00 per ho...,BASE_SALARY
29283,3693070396,86694680.0,Engineer,About Ascendion\n \n\nAscendion is a full-serv...,120000.0,110000.00,https://www.linkedin.com/jobs/view/3693070396/...,Full-time,1.0,"#SQL,#SQLServer,#Powershell",BASE_SALARY
29514,3693068946,748875.0,Safety Observation Specialist (SOS),"Are you a Healthcare professional, CNA or MA a...",32.0,28.00,https://www.linkedin.com/jobs/view/3693068946/...,Contract,NaN,"Required\nHigh school, GED, or equivalent\nTwo...",BASE_SALARY
30729,3693053071,1373835.0,School Social Worker → $2500 Sign-on Bonus!!,"Chancelight Education, a growing, dynamic orga...",60000.0,60000.00,https://www.linkedin.com/jobs/view/3693053071/...,Full-time,NaN,EducationBachelors or better in Social Work or...,BASE_SALARY
31136,3693050844,1373835.0,Intervention Specialist → $5000 Sign-on Bonus!,"Chancelight Education, a growing, dynamic orga...",70000.0,70000.00,https://www.linkedin.com/jobs/view/3693050844/...,Full-time,NaN,EducationBachelors or better in Education or r...,BASE_SALARY
31171,3693050705,1373835.0,Special Education Teacher → $2500 Sign-on Bonus!!,"Chancelight Education, a growing, dynamic orga...",55000.0,55000.00,https://www.linkedin.com/jobs/view/3693050705/...,Full-time,NaN,EducationBachelors or better in Education or r...,BASE_SALARY
31540,3693048951,1373835.0,Special Education Teacher → $2500 Sign-on Bonus!,"Chancelight Education, a growing, dynamic orga...",70000.0,70000.00,https://www.linkedin.com/jobs/view/3693048951/...,Full-time,NaN,EducationBachelors or better in Education or r...,BASE_SALARY
32296,3693045710,86694680.0,Game/ Server Engineer,*Prior gaming experienced REQUIRED - AAA prefe...,140000.0,100000.00,https://www.linkedin.com/jobs/view/3693045710/...,Contract,NaN,"C++,Networking,Gaming,MMO",BASE_SALARY
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,35000.00,https://www.linkedin.com/jobs/view/3958427/?tr...,Full-time,NaN,Must be a seasoned stylist with an existing bo...,BASE_SALARY

In [25]:
# Well what can we do with this data?
# Let's rearrange the data such that it is in ascending order of min_salary
raw_df[cols].sort_values(by='min_salary')

,job_id,company_id,title,description,max_salary,min_salary,job_posting_url,formatted_work_type,remote_allowed,skills_desc,compensation_type
11088,3755594942,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,7.25,https://www.linkedin.com/jobs/view/3755594942/...,Full-time,1.0,NaN,BASE_SALARY
10691,3756102306,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3756102306/...,Full-time,1.0,NaN,BASE_SALARY
10989,3755595807,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,7.25,https://www.linkedin.com/jobs/view/3755595807/...,Full-time,1.0,NaN,BASE_SALARY
10863,3755597827,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3755597827/...,Full-time,1.0,NaN,BASE_SALARY
10799,3755599456,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3755599456/...,Full-time,1.0,NaN,BASE_SALARY
1440,3757746254,5398043.0,Virtual Medical Receptionist/Office Assistant,A virtual medical assistant /receptionist perf...,15.00,10.00,https://www.linkedin.com/jobs/view/3757746254/...,Contract,1.0,NaN,BASE_SALARY
17009,3748840811,1313100.0,Receptionist,"Position: ReceptionistLocation: Hilliard, FLDu...",17.00,10.00,https://www.linkedin.com/jobs/view/3748840811/...,Contract,NaN,NaN,BASE_SALARY
920,3757769057,23101.0,Outlet Office Assistant,Rooms To Go\n\nOutlet Office Assistant\n\nStar...,16.00,10.00,https://www.linkedin.com/jobs/view/3757769057/...,Full-time,NaN,NaN,BASE_SALARY
934,3757767504,23101.0,Warehouse Equipment Operator,Rooms To Go\n\nEquipment Operator I\n\nStartin...,80.00,10.00,https://www.linkedin.com/jobs/view/3757767504/...,Full-time,NaN,NaN,BASE_SALARY
23238,3699055440,77301.0,Restaurant Crewmember - Opening Shift (7am-10am),"Starting hiring pay range (based on location, ...",12.00,10.00,https://www.linkedin.com/jobs/view/3699055440/...,Full-time,NaN,NaN,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...
33232,1053342128,NaN,Company Owner,HVAC & Refrigeration technicians and helpers n...,NaN,NaN,https://www.linkedin.com/jobs/view/1053342128/...,Full-time,1.0,NaN,NaN
33234,1004740969,882349.0,Civil Engineer,We are a growing and successful Structural Eng...,NaN,NaN,https://www.linkedin.com/jobs/view/1004740969/...,Full-time,NaN,NaN,NaN
33235,967848246,18995316.0,Education Manager,"Company Snapshot Headquartered in North Miami,...",NaN,NaN,https://www.linkedin.com/jobs/view/967848246/?...,Full-time,1.0,NaN,NaN
33237,529257371,1244539.0,NY Studio Assistant,YOU COULD BE ONE OF THE MAGIC MAKERS\nKen Fulk...,NaN,NaN,https://www.linkedin.com/jobs/view/529257371/?...,Full-time,NaN,NaN,NaN
33238,381055942,96654609.0,Business Manager,Business ManagerFirst Baptist Church ForneyFor...,NaN,NaN,https://www.linkedin.com/jobs/view/381055942/?...,Full-time,NaN,NaN,NaN
33239,218881389,NaN,Accounting Associate,My client a local office is seeking an Account...,NaN,NaN,https://www.linkedin.com/jobs/view/218881389/?...,Full-time,NaN,NaN,NaN
33240,133196985,1089558.0,Model Risk Auditor,Join Us as a Model Risk Auditor – Showcase You...,NaN,NaN,https://www.linkedin.com/jobs/view/133196985/?...,Contract,NaN,NaN,NaN
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,https://www.linkedin.com/jobs/view/133114754/?...,Full-time,NaN,NaN,NaN
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,https://www.linkedin.com/jobs/view/108965123/?...,Full-time,NaN,NaN,NaN
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,https://www.linkedin.com/jobs/view/102339515/?...,Full-time,NaN,NaN,NaN

In [26]:
sorted_df = raw_df[cols].dropna(subset=['min_salary']).sort_values(by='min_salary') # SOrted my min_salary disregarding NaN Values

In [27]:
# Alright, let's determine the highest hourly rate
raw_df.pay_period.unique()

array(['MONTHLY', nan, 'HOURLY', 'YEARLY', 'WEEKLY', 'ONCE'], dtype=object)

In [28]:
(
 raw_df[raw_df.pay_period == "HOURLY"]
 .sort_values(by='min_salary',ascending=False)
 .dropna(subset=['min_salary'])
)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
24731,3697379407,18860134.0,Director of Business Development,Want to learn more about this role and Jobot? ...,180000.00,NaN,150000.00,HOURLY,Full-time,"Palo Alto, CA",...,NaN,Director,NaN,1.692740e+12,jobot.com,1,FULL_TIME,USD,BASE_SALARY,1
14783,3749369126,2842750.0,Safety Director,The mission of the Colorado Coalition for the ...,84029.00,NaN,73069.00,HOURLY,Full-time,"Denver, CO",...,NaN,Director,NaN,1.699050e+12,us232.dayforcehcm.com,0,FULL_TIME,USD,BASE_SALARY,1699059424
14746,3749370406,57322.0,Accounts Payable Specialist,"Schaumburg, IL (50% Remote 50% Onsite)\n\nTouc...",52000.00,NaN,50000.00,HOURLY,Full-time,"Schaumburg, IL",...,NaN,Entry level,NaN,1.699050e+12,us232.dayforcehcm.com,0,FULL_TIME,USD,BASE_SALARY,1699071735
9586,3756116329,78456185.0,General Counsel (Fractional),Company Overview:We're on a mission to transfo...,800.00,NaN,200.00,HOURLY,Part-time,Greater Seattle Area,...,NaN,NaN,NaN,1.699060e+12,NaN,1,PART_TIME,USD,BASE_SALARY,1699058607
32446,3693044925,1215629.0,Psychiatrist,Quick Information:Position: PsychiatristLocati...,250.00,NaN,200.00,HOURLY,Full-time,"Swarthmore, PA",...,NaN,Mid-Senior level,NaN,1.692740e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
11981,3755585960,202782.0,Asset Integrity Engineer,"Asset Integrity Engineer\nLocation: Houston, T...",160.00,NaN,150.00,HOURLY,Contract,Greater Houston,...,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,1,CONTRACT,USD,BASE_SALARY,1699084974
7549,3757445441,106083.0,Director of Software Engineering / CTO CONTRACT,3-6 months + contract roleHybrid position in S...,175.00,NaN,150.00,HOURLY,Contract,"Scottsdale, AZ",...,NaN,Executive,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699040180
11664,3755589165,202782.0,Engineering Manager,"Engineering Manager\nLocation: Houston, TXDura...",150.00,NaN,140.00,HOURLY,Contract,Greater Houston,...,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699079862
8713,3756173543,97893839.0,Telemedicine Physician - NY,SDKare is an online mental health treatment ce...,170.00,NaN,110.00,HOURLY,Contract,"New York, United States",...,NaN,NaN,NaN,1.699080e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699080827
16760,3749341785,154217.0,Vice President of Global Supply Chain,VP Global Supply Chain – Direct Hire – Milwauk...,175.00,NaN,100.00,HOURLY,Contract,"Milwaukee, WI",...,NaN,Executive,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699037005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12219,3755583545,5343.0,Assembly worker,"Company\n\nUS1601 Coastal Sunbelt Produce, LLC...",48.00,NaN,10.00,HOURLY,Full-time,"Jessup, MD",...,NaN,Entry level,NaN,1.699040e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699056607
920,3757769057,23101.0,Outlet Office Assistant,Rooms To Go\n\nOutlet Office Assistant\n\nStar...,16.00,NaN,10.00,HOURLY,Full-time,"Lebanon, TN",...,NaN,Entry level,NaN,1.699070e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699088206
11931,3755586534,77301.0,"Restaurant Crewmember - Cook, Cashier, and Cus...","Starting hiring pay range (based on location, ...",12.00,NaN,10.00,HOURLY,Full-time,"Laurel, MS",...,NaN,Entry level,NaN,1.699050e+12,raisingcanes.jibeapply.com,0,FULL_TIME,USD,BASE_SALARY,1699136750
1440,3757746254,5398043.0,Virtual Medical Receptionist/Office Assistant,A virtual medical assistant /receptionist perf...,15.00,NaN,10.00,HOURLY,Contract,"Richmond, VA",...,NaN,NaN,NaN,1.699060e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699129732
17009,3748840811,1313100.0,Receptionist,"Position: ReceptionistLocation: Hilliard, FLDu...",17.00,NaN,10.00,HOURLY,Contract,"Hilliard, FL",...,NaN,Mid-Senior level,NaN,1.698960e+12,NaN,1,CONTRACT,USD,BASE_SALARY,1698964935
10863,3755597827,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699084529
10799,3755599456,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699053318
10989,3755595807,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699064980
11088,3755594942,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699085494
10691,3756102306,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Austin, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699132603

In [29]:
raw_df.loc[24731] # Quite perplexing

job_id                                                               3697379407
company_id                                                           18860134.0
title                                          Director of Business Development
description                   Want to learn more about this role and Jobot? ...
max_salary                                                             180000.0
med_salary                                                                  NaN
min_salary                                                             150000.0
pay_period                                                               HOURLY
formatted_work_type                                                   Full-time
location                                                          Palo Alto, CA
applies                                                                    15.0
original_listed_time                                            1692740000000.0
remote_allowed                                                              NaN
views                                                                      52.0
job_posting_url               https://www.linkedin.com/jobs/view/3697379407/...
application_url               https://jobot.com/apply/director-of-business-d...
application_type                                             ComplexOnsiteApply
expiry                                                          1695340000000.0
closed_time                                                                 NaN
formatted_experience_level                                             Director
skills_desc                                                                 NaN
listed_time                                                     1692740000000.0
posting_domain                                                        jobot.com
sponsored                                                                     1
work_type                                                             FULL_TIME
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                                       1
Name: 24731, dtype: object

In [30]:
# The above must be a data entry error OR more info is needed 
print("$",150000*8*100, " This is me being selfish and reducing work days ", sep="")

$120000000 This is me being selfish and reducing work days

In [31]:
#  Let's be more realistic, Let's cap HOURLY pay at the highest Value I have seen $100
#  Account for error, I will add $50

(
 raw_df[(raw_df.pay_period == "HOURLY") & (raw_df.min_salary < 151) ]
 .sort_values(by='min_salary',ascending=False)
 .dropna(subset=['min_salary'])
)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
11981,3755585960,202782.0,Asset Integrity Engineer,"Asset Integrity Engineer\nLocation: Houston, T...",160.00,NaN,150.00,HOURLY,Contract,Greater Houston,...,NaN,Mid-Senior level,NaN,1.699050e+12,NaN,1,CONTRACT,USD,BASE_SALARY,1699084974
7549,3757445441,106083.0,Director of Software Engineering / CTO CONTRACT,3-6 months + contract roleHybrid position in S...,175.00,NaN,150.00,HOURLY,Contract,"Scottsdale, AZ",...,NaN,Executive,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699040180
11664,3755589165,202782.0,Engineering Manager,"Engineering Manager\nLocation: Houston, TXDura...",150.00,NaN,140.00,HOURLY,Contract,Greater Houston,...,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699079862
8713,3756173543,97893839.0,Telemedicine Physician - NY,SDKare is an online mental health treatment ce...,170.00,NaN,110.00,HOURLY,Contract,"New York, United States",...,NaN,NaN,NaN,1.699080e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699080827
16760,3749341785,154217.0,Vice President of Global Supply Chain,VP Global Supply Chain – Direct Hire – Milwauk...,175.00,NaN,100.00,HOURLY,Contract,"Milwaukee, WI",...,NaN,Executive,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699037005
28541,3693583871,106383.0,Remote - ECM Managing Applications Consultant,Role: ECM Managing Applications ConsultantLoca...,120.00,NaN,100.00,HOURLY,Contract,"King of Prussia, PA",...,NaN,Mid-Senior level,NaN,1.692820e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1
32421,3693045185,2875.0,Computing Systems - Fin Tech environment,Must have experience from Fin Tech environment...,100.00,NaN,100.00,HOURLY,Contract,"San Francisco, CA",...,NaN,Mid-Senior level,NaN,1.692730e+12,NaN,1,CONTRACT,USD,BASE_SALARY,1
1306,3757749373,1681.0,Mergers and Acquisitions Manager,Robert Half Management Resources is recruiting...,110.00,NaN,100.00,HOURLY,Temporary,"Los Angeles, CA",...,NaN,Mid-Senior level,NaN,1.699060e+12,NaN,0,TEMPORARY,USD,BASE_SALARY,1699139528
25584,3697343186,16388.0,'Niche - Medicaid Proposal Writer': Fully Remo...,Job Description:Job Title: ‘Niche - Medicaid P...,110.00,NaN,100.00,HOURLY,Contract,United States,...,1.690000e+12,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1
17222,3748829738,217273.0,Big Data Engineer,"Work Location : Wilmington, DL. (Preferred), /...",110.00,NaN,100.00,HOURLY,Contract,"Richmond, VA",...,NaN,NaN,NaN,1.698960e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1698964484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15209,3749356035,7795.0,Junior Groomer,"Create a healthier, brighter future for pets, ...",17.00,NaN,10.00,HOURLY,Full-time,"Glendale, CA",...,NaN,Entry level,NaN,1.699050e+12,careers.petco.com,1,FULL_TIME,USD,BASE_SALARY,1699057868
33067,3690290550,1815139.0,ApartmentsForLegends Social Media Representative,Are you the friend that gets everyone to do a ...,15.00,NaN,10.00,HOURLY,Internship,"Tuscaloosa, AL",...,NaN,NaN,NaN,1.692000e+12,NaN,1,INTERNSHIP,USD,BASE_SALARY,1
8967,3756150363,1497977.0,CASHIER (full-time & part-time opportunities),Job Posting\n\nAs one of the largest national ...,10.50,NaN,10.00,HOURLY,Part-time,"Martin, TN",...,NaN,Entry level,NaN,1.699110e+12,sjobs.brassring.com,0,PART_TIME,USD,BASE_SALARY,1699135472
23238,3699055440,77301.0,Restaurant Crewmember - Opening Shift (7am-10am),"Starting hiring pay range (based on location, ...",12.00,NaN,10.00,HOURLY,Full-time,"Zachary, LA",...,NaN,Entry level,NaN,1.692820e+12,raisingcanes.jibeapply.com,1,FULL_TIME,USD,BASE_SALARY,1
9169,3756137172,5343.0,Receiver,"Company\n\nUS1643 Bellissimo Distribution, LLC...",48.08,NaN,10.00,HOURLY,Full-time,"Landover, MD",...,NaN,Entry level,NaN,1.699070e+12,click.appcast.io,1,FULL_TIME,USD,BASE_SALARY,1699082306
10691,3756102306,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Austin, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699132603
10799,3755599456,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699053318
10863,3755597827,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699084529
10989,3755595807,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699064980
11088,3755594942,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699085494

In [32]:
raw_df.loc[11981]

job_id                                                               3755585960
company_id                                                             202782.0
title                                                  Asset Integrity Engineer
description                   Asset Integrity Engineer\nLocation: Houston, T...
max_salary                                                                160.0
med_salary                                                                  NaN
min_salary                                                                150.0
pay_period                                                               HOURLY
formatted_work_type                                                    Contract
location                                                        Greater Houston
applies                                                                    14.0
original_listed_time                                            1699050000000.0
remote_allowed                                                              NaN
views                                                                      89.0
job_posting_url               https://www.linkedin.com/jobs/view/3755585960/...
application_url                                                             NaN
application_type                                             ComplexOnsiteApply
expiry                                                          1701640000000.0
closed_time                                                                 NaN
formatted_experience_level                                     Mid-Senior level
skills_desc                                                                 NaN
listed_time                                                     1699050000000.0
posting_domain                                                              NaN
sponsored                                                                     1
work_type                                                              CONTRACT
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                              1699084974
Name: 11981, dtype: object

In [33]:
# 1 Month
print("$",raw_df.loc[11981].min_salary * 8 * 6 * 4, sep="")

$28800.0

In [34]:
# 1 Year
print("$",raw_df.loc[11981].min_salary * 8 * 6 * 4 * 12, sep="")

$345600.0

In [35]:
# What is the avg salary of a senior Asset Integrity Engineer in the US? 
print("I got a value ranging from $70000 - $100000 annually")
print("We must bare in mind, we are assuming this person will work an entire day.")

I got a value ranging from $70000 - $100000 annually
We must bare in mind, we are assuming this person will work an entire day.

In [36]:
# We have a little more info
raw_df.loc[11981].description

'Asset Integrity Engineer\nLocation: Houston, TXDuration: Long-term assignmentRate: $150 - $160 per hour\nResponsibilities:Initial review of all equipment and assetsDevelop an Integrity Management Program including risk-based assessments (RBA), risk-based inspection (RBI) and monitoring programsLead Root Cause Failure Analysis (RCFA) process. Support Management of Change (MOC) processAdminister the plant asset integrity management program, ensuring plant operations remain compliant, safe, reliable, and cost effectiveSupport Risk Based Inspection (RBI) activitiesReview and continuously improve Preventive & Predictive Maintenance equipment routinesSupport efforts for transition to Reliability Centered Maintenance\nRequirements:Bachelor’s degree in Engineering discipline10+ years of experience in the LNG, Refining, or Offshore Oil & Gas industries.Operations experience is required Knowledge of gas processing plant equipment such as general machinery, piping, pressure vessels, heat exchangers, storage tanks, instrumentation, and safety equipmentFamiliarity with ASME, API and NACE/AMPP recommended practices.'

In [37]:
print(raw_df.loc[11981].job_posting_url)

https://www.linkedin.com/jobs/view/3755585960/?trk=jobs_biz_prem_srch

In [38]:
# Regardless of what people may say, there is still a lot of money in the Natural resource industry

In [39]:
# Lowest 
raw_df.loc[11088]

job_id                                                               3755594942
company_id                                                              21007.0
title                                    Digital Media Sales Planner Apprentice
description                   Digital Media Sales Planner Apprentice Locatio...
max_salary                                                                19.24
med_salary                                                                  NaN
min_salary                                                                 7.25
pay_period                                                               HOURLY
formatted_work_type                                                   Full-time
location                                                          Charlotte, NC
applies                                                                     2.0
original_listed_time                                            1699050000000.0
remote_allowed                                                              1.0
views                                                                      31.0
job_posting_url               https://www.linkedin.com/jobs/view/3755594942/...
application_url                         https://bit.ly/SAExpNov2023CharLinkedIn
application_type                                                   OffsiteApply
expiry                                                          1701640000000.0
closed_time                                                                 NaN
formatted_experience_level                                          Entry level
skills_desc                                                                 NaN
listed_time                                                     1699050000000.0
posting_domain                                                              NaN
sponsored                                                                     0
work_type                                                             FULL_TIME
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                              1699085494
Name: 11088, dtype: object

In [40]:
# At this point I realised I was being silly 
raw_df.loc[11088].job_posting_url

'https://www.linkedin.com/jobs/view/3755594942/?trk=jobs_biz_prem_srch'

In [41]:
# Highest MONTHLY Pay
(
 raw_df[raw_df.pay_period == "MONTHLY"]
 .sort_values(by='min_salary',ascending=False)
 .dropna(subset=['min_salary'])
)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
2242,3757734786,3807788.0,SENIOR PSYCHIATRIST (SUPERVISOR),Equal Opportunity Employer\n\nThe State of Cal...,28929.0,NaN,23771.0,MONTHLY,Full-time,"San Bernardino, CA",...,NaN,Mid-Senior level,NaN,1.699050e+12,www.calcareers.ca.gov,0,FULL_TIME,USD,BASE_SALARY,1699139228
33224,1657978824,89350959.0,"REMOTE STEEL BUILDING SALES MAKE $1,000 TO $30...","REMOTE WORK FROM HOME $1,000 TO $10,000 COMMIS...",12000.0,NaN,12000.0,MONTHLY,Contract,"Texas, United States",...,NaN,NaN,NaN,1.692830e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1
1613,3757743096,NaN,Telemedicine Dentist & Legal Owner of Record o...,PLEASE NOTE: This is a fee-for-service role th...,24000.0,NaN,12000.0,MONTHLY,Full-time,"Maryland, United States",...,NaN,NaN,NaN,1.699080e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699134410
29936,3693065824,2666.0,Prosecuting Attorney,***Please note that the State of California re...,14954.0,NaN,11644.0,MONTHLY,Full-time,"Los Angeles, CA",...,NaN,Mid-Senior level,NaN,1.692740e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
29977,3693065682,2660.0,Electric Modeling Senior Engineer,Equal Opportunity Employer\nThe State of Calif...,13625.0,NaN,10886.0,MONTHLY,Full-time,"San Francisco County, CA",...,NaN,Mid-Senior level,NaN,1.692740e+12,www.calcareers.ca.gov,0,FULL_TIME,USD,BASE_SALARY,1
16976,3748841505,29360090.0,Attorney III,An Attorney III in the Dispute Resolution Divi...,13526.0,NaN,10536.0,MONTHLY,Full-time,"California, United States",...,NaN,NaN,NaN,1.698960e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1698964410
15410,3749353027,2666.0,Deputy Attorney General,***Please note that the State of California re...,13526.0,NaN,10536.0,MONTHLY,Full-time,San Diego Metropolitan Area,...,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699042973
10244,3756109292,2654.0,"ASSOCIATE INVESTMENT MANAGER,PUBLIC EMPLOYEES`...",Equal Opportunity Employer\n\nThe State of Cal...,17395.0,NaN,10437.0,MONTHLY,Full-time,"Sacramento, CA",...,NaN,Mid-Senior level,NaN,1.699050e+12,www.calcareers.ca.gov,0,FULL_TIME,USD,BASE_SALARY,1699132678
174,3757920253,3807788.0,ASSISTANT COORDINATOR OF NURSING SERVICES,Equal Opportunity Employer\n\nThe State of Cal...,12086.0,NaN,9651.0,MONTHLY,Full-time,"Napa, CA",...,NaN,Entry level,NaN,1.699080e+12,www.calcareers.ca.gov,0,FULL_TIME,USD,BASE_SALARY,1699086796
16185,3749347366,4870269.0,Sap Advanced Business Application Programming ...,Job Title: SAP WMS DeveloperLocation: Santa An...,12000.0,NaN,9500.0,MONTHLY,Contract,"Santa Ana, CA",...,NaN,NaN,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699040472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20421,3701157620,27200744.0,Dental Assistant 1 - 2,Supplemental Information\nPSSC 23-144 JD\nDent...,3572.0,NaN,1985.0,MONTHLY,Full-time,"Pineville, LA",...,NaN,Entry level,NaN,1.692750e+12,www.governmentjobs.com,1,FULL_TIME,USD,BASE_SALARY,1
11417,3755591731,68834829.0,Sales And Service Specialist,Company DescriptionFinancial Insurance company...,4500.0,NaN,1800.0,MONTHLY,Full-time,"Houston, TX",...,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699087761
26658,3694110043,25042958.0,Inside Sales Representative,Sales Maven is looking for a seasoned inside s...,2500.0,NaN,1500.0,MONTHLY,Part-time,"Illinois, United States",...,NaN,NaN,NaN,1.692840e+12,NaN,1,PART_TIME,USD,BASE_SALARY,1
30591,3693054153,98562218.0,Sales Account Executive,Are you a motivated and results-driven individ...,15000.0,NaN,1500.0,MONTHLY,Full-time,Greater Boston,...,NaN,NaN,NaN,1.692740e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
26838,3694106200,NaN,REMOTE - PART-TIME Financial Agent,Austin & AssociatesWe are a Financial Solution...,3000.0,NaN,1000.0,MONTHLY,Part-time,"Colorado, United States",...,NaN,NaN,NaN,1.692840e+12,NaN,0,PART_TIME,USD,BASE_SALARY,1
20385,3701161683,NaN,Brand Representative,Join Our Team as a Beach Bum Beauty Sales Repr...,10000.0,NaN,1000.0,MONTHLY,Contract,"New Jersey, United States",...,NaN,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1
5532,3757480612,17882634.0,PHP Developer,Company DescriptionBoosted CRM is a Zoho Premi...,1300.0,NaN,1000.0,MONTHLY,Full-time,"Orange County, CA",...,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699133355
30376,3693056301,11056.0,System Integration Engineer,Contract55HR\nOverview\n- 5+ years of Digital ...,55.0,NaN,55.0,MONTHLY,Full-time,"Florida, United States",...,NaN,Associate,NaN,1.692740e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
20003,3701300616,226965.0,Scientist (Material Science),"Job title: ScientistLocation: West Point, PA 1...",35.0,NaN,35.0,MONTHLY,Contract,"Lansdale, PA",...,1.690000e+12,Entry level,NaN,1.692800e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1
22984,3699059345,13316384.0,Intermediate Accountant,"Hi, My name is Abhishek Singh and I'm a recrui...",40.0,NaN,30.0,MONTHLY,Full-time,"Madison, WI",...,NaN,NaN,NaN,1.692830e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1

In [42]:
raw_df.loc[2242]

job_id                                                               3757734786
company_id                                                            3807788.0
title                                          SENIOR PSYCHIATRIST (SUPERVISOR)
description                   Equal Opportunity Employer\n\nThe State of Cal...
max_salary                                                              28929.0
med_salary                                                                  NaN
min_salary                                                              23771.0
pay_period                                                              MONTHLY
formatted_work_type                                                   Full-time
location                                                     San Bernardino, CA
applies                                                                     NaN
original_listed_time                                            1698970000000.0
remote_allowed                                                              NaN
views                                                                       1.0
job_posting_url               https://www.linkedin.com/jobs/view/3757734786/...
application_url               https://www.calcareers.ca.gov/CalHrPublic/Jobs...
application_type                                                   OffsiteApply
expiry                                                          1701650000000.0
closed_time                                                                 NaN
formatted_experience_level                                     Mid-Senior level
skills_desc                                                                 NaN
listed_time                                                     1699050000000.0
posting_domain                                            www.calcareers.ca.gov
sponsored                                                                     0
work_type                                                             FULL_TIME
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                              1699139228
Name: 2242, dtype: object

In [43]:
print("$",raw_df.loc[2242].min_salary * 12, " Annually", sep="")

$285252.0 Annually

In [44]:
print(raw_df.loc[2242].description)

Equal Opportunity Employer

The State of California is an equal opportunity employer to all, regardless of age, ancestry, color, disability (mental and physical), exercising the right to family care and medical leave, gender, gender expression, gender identity, genetic information, marital status, medical condition, military or veteran status, national origin, political affiliation, race, religious creed, sex (includes pregnancy, childbirth, breastfeeding and related medical conditions), and sexual orientation.

It is an objective of the State of California to achieve a drug-free work place. Any applicant for state employment will be expected to behave in accordance with this objective because the use of illegal drugs is inconsistent with the law of the State, the rules governing Civil Service, and the special trust placed in public servants.

Position Details

Job Code #:

JC-401757

Position #(s):

502-000-7609-XXX

Working Title:

 Program Director-Psychiatry Residency Training Program

Classification:

SENIOR PSYCHIATRIST (SUPERVISOR)

$23,771.00 - $28,253.00 U

$24,286.00 - $28,929.00 V

# of Positions:

1

Work Location:

San Bernardino County

Telework:

In Office

Job Type:

Permanent, Full Time

Facility:

Department of State Hospitals - Patton

Department Information

DSH – Patton

3102 E. Highland Avenue

Patton, CA 92369

http://www.dsh.ca.gov

Department Website: https://www.dsh.ca.gov

Job Description And Duties

Patton State Hospital Human Resources is accepting applications for at least (1) permanent, full-time Senior Psychiatrist Supervisor position. The Senior Psychiatrist Supervisor works under the administrative direction of the Medical Director.

The Senior Psychiatrist (Supervisor) serves as the Program Director of the Psychiatry Residency Program; supervises resident physicians and other professional personnel giving psychiatric care to persons with developmental or mental disorders; gives psychiatric services to such patients; and does other related work. In coordination with the Chief Psychiatrist, as well as the Chief of Professional Education, provides supervision to Psychiatrists who provide residency training. Oversees academic curricula in accordance with accreditation standards; manages contracts relating to necessary clinical and academic opportunities.

All qualified interested applicants should submit a Statement of Qualifications of no more than three pages , summarizing 1) the experience you have had in training/supervision of resident physicians; 2) experience in managing a project or program; 3) experience working with patients who face forensic (legal) issues associated with their mental illness; and 4) experience working with patients who have severe mental illness (e.g., treatment-resistant mood and psychotic disorders, comorbid PTSD and mood/psychotic disorders, personality disorders, etc.).

Please include a Curriculum Vitae (CV) with your application. Although this is attached, the STD 678 job application must also be complete.

Minimum Qualifications : Possession of the legal requirements for the practice of medicine in California as determined by the California Board of Medical Quality Assurance or the California Board of Osteopathic Examiners. (Applicants who are in the process of securing approval of their qualifications by the California Board of Medical Quality Assurance or the California Board of Osteopathic Examiners will be admitted to the examination, but the Board to which application is made must determine that all legal requirements have been met before candidates will be eligible for appointment.) and Either I Possession of a valid certificate in psychiatry issued by the American Board of Psychiatry and Neurology, the American Osteopathic Board of Neurology and Psychiatry, or eligibility for examination for such a certificate as evidenced by a written statement from the Secretary of either Board. (Applicants who are in the process of establishing specialty board eligibility will be admitted to the examination, but the required verification must be submitted prior to appointment.) Or II Completion within the past seven years of the following training and experience: 1. Three years of psychiatric residency training in programs approved by the American Board of Psychiatry and Neurology or the American Osteopathic Board of Neurology and Psychiatry, two years of which must have been in a program approved for a minimum of two years of such training; and 2. Two years of experience in a psychiatric facility or on a hospital psychiatric service. (Candidates who are within six months of meeting these requirements may take the examination, but they cannot be appointed until these requirements are met.)

You will find additional information about the job in the  Duty Statement .

Special Requirements

 The position(s) require(s) a Drug Screening be passed prior to being hired.  The position(s) require(s) a Background Investigation be cleared prior to being hired.  The position(s) require(s) Medical Clearance prior to being hired.

Unless there is a specific request to be notified via USPS mail, our main contact will be via email. Email correspondence regarding this job posting will primarily come from PattonHREmploymentUnit@dsh.ca.gov . It is the applicant’s responsibility to check their email inbox, including junk/spam emails for any correspondence regarding their application status. In addition, applicants are encouraged to keep their CalCareers profile updated with a current telephone number, mailing address, and email.

For experience/education to qualify during the application screening process, and to ensure that minimum qualifications can be determined, applicants should include all employment history on the Examination/ Employment Application (STD. 678) including detailed job descriptions, hours worked per week , and start/end dates (MM/DD/YYY). Application packages without this information will experience delayed processing times and your eligibility for this position may be impacted.

A completed STD. 678 and any other relevant documents (e.g., unofficial transcript, copy of degree, resume, etc.) should be submitted electronically via your CalCareers account. Please reference Job Control # 401757 and indicate the basis of your eligibility in the Examination(s) or Job Title(s) section. SROA and surplus candidates should submit a copy of their letter with their application. Please remove any confidential information (i.e., social security number, date of birth) from your documents prior to submission.

Complete Application Packages (including your STD. 678 and applicable or required documents) must be submitted to apply for this Job Posting. Application Packages may be submitted electronically through your CalCareers account at www.CalCareers.ca.gov . Submitting an electronic application through your CalCareers account is strongly recommended since electronic applications will be received/processed faster than other methods of filing. Please submit only one application.

Application Instructions

Completed applications and all required documents must be received or postmarked by the Final Filing Date in order to be considered. Dates printed on Mobile Bar Codes, such as the Quick Response (QR) Codes available at the USPS, are not considered Postmark dates for the purpose of determining timely filing of an application.

Final Filing Date: 12/8/2023

Who May Apply

Individuals who are currently in the classification, eligible for lateral transfer, eligible for reinstatement, have list eligibility, are in the process of obtaining list eligibility, or have SROA and/or Surplus eligibility (please attach your letter, if available). SROA and Surplus candidates are given priority; therefore, individuals with other eligibility may be considered in the event no SROA or Surplus candidates apply.

Applications will be screened and only the most qualified applicants will be selected to move forward in the selection process. Applicants must meet the Minimum Qualifications stated in the Classification Specification(s).

How To Apply

Complete Application Packages (including your Examination/Employment Application (STD 678) and applicable or required documents) must be submitted to apply for this Job Posting. Application Packages may be submitted electronically through your CalCareer Account at www.CalCareers.ca.gov. When submitting your application in hard copy, a completed copy of the Application Package listing must be included. If you choose to not apply electronically, a hard copy application package may be submitted through an alternative method listed below:

Address for Mailing Application Packages

You may submit your application and any applicable or required documents to:

Department of State Hospitals

Attn: HR-Employment Unit

3102 East Highland Avenue

Patton , CA 92369

Address for Drop-Off Application Packages

You may drop off your application and any applicable or required documents at:

Department of State Hospitals

Human Resources Employment Unit

3102 East Highland Avenue

Patton , CA 92369

HR is closed on weekends and holidays

07:00 AM - 04:30 PM

Required Application Package Documents

The following items are required to be submitted with your application. Applicants who do not submit the required items timely may not be considered for this job:

Current version of the State Examination/Employment Application STD Form 678 (when not applying electronically), or the Electronic State Employment Application through your Applicant Account at www.CalCareers.ca.gov. All Experience and Education relating to the Minimum Qualifications listed on the Classification Specification should be included to demonstrate how you meet the Minimum Qualifications for the position.Resume is optional. It may be included, but is not required.Other - Please include a Curriculum Vitae (CV) with your application. Although this is attached, the STD 678 job application must also be complete. Statement of Qualifications - No more than three pages summarizing 1) the experience you have had in training/supervision of resident physicians; 2) experience in managing a project or program; 3) experience working with patients who face forensic (legal) issues associated with their mental illness; and 4) experience working with patients who have severe mental illness (e.g., treatment-resistant mood and psychotic disorders, comorbid PTSD and mood/psychotic disorders, personality disorders, etc.)

Applicants requiring reasonable accommodations for the hiring interview process must request the necessary accommodations if scheduled for a hiring interview. The request should be made at the time of contact to schedule the interview. Questions regarding reasonable accommodations may be directed to the EEO contact listed on this job posting.

In [45]:
print("The Senior Psychiatrist not only performs the role of a Psychiatrist but also heads and monitors all Jnr Psychiarists")

The Senior Psychiatrist not only performs the role of a Psychiatrist but also heads and monitors all Jnr Psychiarists

In [46]:
sorted_df

,job_id,company_id,title,description,max_salary,min_salary,job_posting_url,formatted_work_type,remote_allowed,skills_desc,compensation_type
11088,3755594942,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,7.25,https://www.linkedin.com/jobs/view/3755594942/...,Full-time,1.0,NaN,BASE_SALARY
10691,3756102306,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3756102306/...,Full-time,1.0,NaN,BASE_SALARY
10989,3755595807,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,7.25,https://www.linkedin.com/jobs/view/3755595807/...,Full-time,1.0,NaN,BASE_SALARY
10863,3755597827,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3755597827/...,Full-time,1.0,NaN,BASE_SALARY
10799,3755599456,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,7.25,https://www.linkedin.com/jobs/view/3755599456/...,Full-time,1.0,NaN,BASE_SALARY
1440,3757746254,5398043.0,Virtual Medical Receptionist/Office Assistant,A virtual medical assistant /receptionist perf...,15.00,10.00,https://www.linkedin.com/jobs/view/3757746254/...,Contract,1.0,NaN,BASE_SALARY
17009,3748840811,1313100.0,Receptionist,"Position: ReceptionistLocation: Hilliard, FLDu...",17.00,10.00,https://www.linkedin.com/jobs/view/3748840811/...,Contract,NaN,NaN,BASE_SALARY
920,3757769057,23101.0,Outlet Office Assistant,Rooms To Go\n\nOutlet Office Assistant\n\nStar...,16.00,10.00,https://www.linkedin.com/jobs/view/3757769057/...,Full-time,NaN,NaN,BASE_SALARY
934,3757767504,23101.0,Warehouse Equipment Operator,Rooms To Go\n\nEquipment Operator I\n\nStartin...,80.00,10.00,https://www.linkedin.com/jobs/view/3757767504/...,Full-time,NaN,NaN,BASE_SALARY
23238,3699055440,77301.0,Restaurant Crewmember - Opening Shift (7am-10am),"Starting hiring pay range (based on location, ...",12.00,10.00,https://www.linkedin.com/jobs/view/3699055440/...,Full-time,NaN,NaN,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...
17862,3701363139,164085.0,Head of Corporate Development & Partnerships,"Every day, Guardian helps our 29 million custo...",450000.00,350000.00,https://www.linkedin.com/jobs/view/3701363139/...,Full-time,NaN,NaN,BASE_SALARY
7551,3757445371,82828617.0,VP Coach - US Remote,Are you a seasoned VP / C-suite executive with...,650000.00,350000.00,https://www.linkedin.com/jobs/view/3757445371/...,Full-time,1.0,NaN,BASE_SALARY
12010,3755585686,3560734.0,Life Science Consulting Partner,We set out to develop a health care innovation...,900000.00,400000.00,https://www.linkedin.com/jobs/view/3755585686/...,Full-time,1.0,NaN,BASE_SALARY
8173,3756926251,407222.0,"Global Vice President, Channel Sales & Partner...","About Us\n\nAt Cloudflare, we have our eyes se...",550000.00,425000.00,https://www.linkedin.com/jobs/view/3756926251/...,Full-time,1.0,NaN,BASE_SALARY
17561,3701369748,106584.0,Fintech Startup | Tech Lead Manager - Software...,Tech Lead / Manager | Software EngineerSelby J...,1100000.00,500000.00,https://www.linkedin.com/jobs/view/3701369748/...,Full-time,1.0,NaN,BASE_SALARY
21207,3699415583,5770.0,"President, Platforms and Software Engineering",About Us\n\nOne team. Global challenges. Infin...,690000.00,510000.00,https://www.linkedin.com/jobs/view/3699415583/...,Full-time,NaN,NaN,BASE_SALARY
11527,3755590700,10424759.0,Breast Imaging Radiologist - 100k Signing Bonu...,Imagen Technologies is expanding our team by a...,600000.00,525000.00,https://www.linkedin.com/jobs/view/3755590700/...,Full-time,NaN,NaN,BASE_SALARY
30821,3693052192,NaN,Urologist,Here are the Details: Location: DC/Baltimore ...,800000.00,600000.00,https://www.linkedin.com/jobs/view/3693052192/...,Full-time,NaN,NaN,BASE_SALARY
18120,3701326157,106584.0,Tech Lead Manager (L6-L8) | Disruptive FinTech,Tech Lead Manager (L6-L8) | Disruptive FinTech...,1000000.00,750000.00,https://www.linkedin.com/jobs/view/3701326157/...,Full-time,1.0,NaN,BASE_SALARY
27035,3694103424,92699700.0,Quantitative Developer,Goliath Partners has a requirement at a leadin...,1300000.00,800000.00,https://www.linkedin.com/jobs/view/3694103424/...,Full-time,NaN,NaN,BASE_SALARY

In [47]:
sorted_df.loc[27035]

job_id                                                        3694103424
company_id                                                    92699700.0
title                                             Quantitative Developer
description            Goliath Partners has a requirement at a leadin...
max_salary                                                     1300000.0
min_salary                                                      800000.0
job_posting_url        https://www.linkedin.com/jobs/view/3694103424/...
formatted_work_type                                            Full-time
remote_allowed                                                       NaN
skills_desc                                                          NaN
compensation_type                                            BASE_SALARY
Name: 27035, dtype: object

In [48]:
print(sorted_df.loc[27035].description)

Goliath Partners has a requirement at a leading HFT firm in Chicago for a C++ Quantitative Developer. The firm is looking for people that have the ability to accelerate their growth across a number of asset classes.
Role:Greenfield development in C++Software implementation & optimization on current & new trading systems.Assist in the implementation of trading strategies.Developing market data platform & ensuring low latency system performance is sub 10ms.
Firm is happy to wait around a non-compete.
Essential skills:BS in Comp Sci/ Mathematics/ Physics or similarly related field.Experience with working closely to trading & QR teams on assisting in the implementation of trading strategies.Close familiarity (or deep interest) in trading execution.Core expertise in C/C+Familiarity with memory management & software optimization
Beneficial skills:Python3 & SQL familiarity.MSCS/ PhD in CS or a similarly related field.Mathematical achievements / competitions.Constant hunger to stay at the forefront of technology.
My client is looking at offering a base of $250,000-300,000 for this with total compensation in the ballpark of $800,000-1,3M guaranteed. They will offer a sign on bonus along-side this to act as a sweetener.
If interested and you believe you would be a good fit, please apply & we'll be in touch.

In [49]:
print(sorted_df.loc[27035].min_salary * 12)

9600000.0

In [50]:
print(sorted_df.loc[27035].job_posting_url)

https://www.linkedin.com/jobs/view/3694103424/?trk=jobs_biz_prem_srch

In [54]:
raw_df[raw_df['title'].str.contains('analyst')]

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
5749,3757474443,NaN,Operatons analyst,\nResponsibilities[Be specific when describing...,NaN,NaN,NaN,NaN,Full-time,"Jersey City, NJ",...,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699132156
6387,3757463907,5352294.0,RPA Business analyst,Position: RPA Business AnalystLocation: USA ( ...,NaN,NaN,NaN,NaN,Contract,United States,...,1.700000e+12,Mid-Senior level,NaN,1.699040e+12,NaN,0,CONTRACT,NaN,NaN,1699060164
6505,3757462230,7253.0,Data analyst internship - 2024,Job Description\n\nMott MacDonald is a dynamic...,NaN,NaN,NaN,NaN,Internship,"Raleigh, NC",...,NaN,Internship,NaN,1.699040e+12,sjobs.brassring.com,0,INTERNSHIP,NaN,NaN,1699090372
16213,3749347237,21784.0,SAP FICO (finance) Business System analyst,Maxonic maintains a close and long-term relati...,95.0,NaN,90.25,HOURLY,Contract,"Sunnyvale, CA",...,NaN,Mid-Senior level,NaN,1.699040e+12,NaN,0,CONTRACT,USD,BASE_SALARY,1699062312
22162,3699085500,750072.0,salesforce Business analyst,Kindly focus on the highlighted skill in the b...,NaN,NaN,NaN,NaN,Contract,"Salt Lake City, UT",...,NaN,Mid-Senior level,NaN,1.692830e+12,NaN,1,CONTRACT,NaN,NaN,1
22854,3699063216,2489937.0,Data Privacy analyst (NOT ATTORNEY) with 1-3 y...,6 monthsremoteCST hrs - customer is based in c...,NaN,NaN,NaN,NaN,Contract,United States,...,NaN,Entry level,NaN,1.692830e+12,NaN,1,CONTRACT,NaN,NaN,1
30436,3693055421,85964.0,Data architect/Data analyst,Job Title: Data architect/Data analyst Locatio...,NaN,NaN,NaN,NaN,Contract,"Juno Beach, FL",...,NaN,NaN,NaN,1.692740e+12,NaN,0,CONTRACT,NaN,NaN,1
31094,3693051005,1452948.0,Salesforce Business analyst (Marketing cloud),"Salesforce Marketing Cloud BA - Duluth, GA (Pr...",NaN,NaN,NaN,NaN,Contract,"Duluth, GA",...,NaN,NaN,NaN,1.692730e+12,NaN,0,CONTRACT,NaN,NaN,1
32560,3693044446,8234.0,Data analyst II,We are looking for a Data Analyst II who will ...,NaN,NaN,NaN,NaN,Full-time,"Lake Forest, IL",...,NaN,NaN,NaN,1.692730e+12,NaN,0,FULL_TIME,NaN,NaN,1

In [55]:
raw_df['formatted_experience_level'].unique()

array(['Entry level', nan, 'Mid-Senior level', 'Director', 'Associate',
       'Executive', 'Internship'], dtype=object)

In [56]:
# Let's check the spread of job experience
raw_df.formatted_experience_level.value_counts()

Mid-Senior level    11258
Entry level          7969
Associate            2793
Director             1354
Internship            387
Executive             304
Name: formatted_experience_level, dtype: int64

In [59]:
# What is executive? LIke upper management :^) ? 
raw_df[raw_df.formatted_experience_level == "Executive"].head(5)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
115,3757928989,91313799.0,VP of Manufacturing [4697],Summary:A startup dedicated to producing top-o...,NaN,NaN,NaN,NaN,Full-time,"Vacaville, CA",...,NaN,Executive,NaN,1.699080e+12,NaN,0,FULL_TIME,NaN,NaN,1699082823
1382,3757747937,10515052.0,Collision General Manager,Company: Gerber Collision & Glass\n\nWELCOME T...,105000.0,NaN,85000.0,YEARLY,Full-time,"West Baton Rouge Parish County, LA",...,NaN,Executive,NaN,1.699060e+12,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,USD,BASE_SALARY,1699138627
1438,3757746399,82202169.0,Senior Vice President of Real Estate Developme...,PROSPERA HOUSING COMMUNITY SERVICES Seeks a Se...,230000.0,NaN,200000.0,YEARLY,Full-time,"San Antonio, Texas Metropolitan Area",...,NaN,Executive,NaN,1.699060e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699062755
1577,3757743564,426040.0,Patient Advocate at Abrazo Scottsdale,Patient Advocate at Abrazo Scottsdale Campus \...,NaN,NaN,NaN,NaN,Full-time,"Phoenix, AZ",...,NaN,Executive,NaN,1.699060e+12,jobs.tenethealth.com,0,FULL_TIME,NaN,NaN,1699089548
1637,3757742465,316322.0,Construction Project Manager,Construction Project Manager - K-12 and Higher...,180000.0,NaN,150000.0,YEARLY,Full-time,Los Angeles Metropolitan Area,...,NaN,Executive,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699080159

In [60]:
# YEp sp upper management

In [61]:
raw_df[raw_df.formatted_experience_level == "Executive"].head(15)

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
115,3757928989,91313799.0,VP of Manufacturing [4697],Summary:A startup dedicated to producing top-o...,NaN,NaN,NaN,NaN,Full-time,"Vacaville, CA",...,NaN,Executive,NaN,1.699080e+12,NaN,0,FULL_TIME,NaN,NaN,1699082823
1382,3757747937,10515052.0,Collision General Manager,Company: Gerber Collision & Glass\n\nWELCOME T...,105000.0,NaN,85000.0,YEARLY,Full-time,"West Baton Rouge Parish County, LA",...,NaN,Executive,NaN,1.699060e+12,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,USD,BASE_SALARY,1699138627
1438,3757746399,82202169.0,Senior Vice President of Real Estate Developme...,PROSPERA HOUSING COMMUNITY SERVICES Seeks a Se...,230000.0,NaN,200000.0,YEARLY,Full-time,"San Antonio, Texas Metropolitan Area",...,NaN,Executive,NaN,1.699060e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699062755
1577,3757743564,426040.0,Patient Advocate at Abrazo Scottsdale,Patient Advocate at Abrazo Scottsdale Campus \...,NaN,NaN,NaN,NaN,Full-time,"Phoenix, AZ",...,NaN,Executive,NaN,1.699060e+12,jobs.tenethealth.com,0,FULL_TIME,NaN,NaN,1699089548
1637,3757742465,316322.0,Construction Project Manager,Construction Project Manager - K-12 and Higher...,180000.0,NaN,150000.0,YEARLY,Full-time,Los Angeles Metropolitan Area,...,NaN,Executive,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699080159
1677,3757741752,12781.0,Manager Patient Services Labor and Delivery Da...,DMC Hutzel Women’s Hospital is nationally reco...,NaN,NaN,NaN,NaN,Full-time,"Detroit, MI",...,NaN,Executive,NaN,1.699060e+12,jobs.tenethealth.com,0,FULL_TIME,NaN,NaN,1699137725
1705,3757741260,3269.0,General Manager II - Distribution,Are you a passionate leader looking for autono...,NaN,NaN,NaN,NaN,Full-time,"Mechanicsburg, PA",...,NaN,Executive,NaN,1.699060e+12,careers.dhl.com,0,FULL_TIME,NaN,NaN,1699080680
1796,3757739617,316322.0,Construction Project Manager,Construction Project Manager - K-12 and Higher...,180000.0,NaN,150000.0,YEARLY,Full-time,"Sacramento, CA",...,NaN,Executive,NaN,1.699050e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1699082823
1948,3757738162,7599998.0,Vice President of Land Acquisition,"Land\n\nDenver, CO\n\nID: 3332-350\n\nFull-Tim...",225300.0,NaN,174500.0,YEARLY,Full-time,"Denver, CO",...,NaN,Executive,NaN,1.699050e+12,jobs.silkroad.com,0,FULL_TIME,USD,BASE_SALARY,1699059498
2069,3757736653,12610.0,"SVP, Chief Nursing Officer",The Senior Vice President and Chief Nursing Of...,NaN,NaN,NaN,NaN,Full-time,"Burlington, MA",...,NaN,Executive,NaN,1.699050e+12,NaN,1,FULL_TIME,NaN,NaN,1699139602
2095,3757736424,11818084.0,Area Vice President,"At Elara Caring, we have a unique opportunity ...",NaN,120000.0,NaN,YEARLY,Full-time,"Kansas City, MO",...,NaN,Executive,NaN,1.699050e+12,elara.wd5.myworkdayjobs.com,0,FULL_TIME,USD,BASE_SALARY,1699084603
2140,3757735896,10862921.0,General Ledger Support Specialist,isolved HCM is an industry-leading human capit...,NaN,NaN,NaN,NaN,Full-time,United States,...,NaN,Executive,NaN,1.699050e+12,isolved.isolvedhire.com,0,FULL_TIME,NaN,NaN,1699062607
2192,3757735230,46084.0,"VP, Commercial Portfolio Manager - Mid Mkt",Division: Commercial\n\nDepartment: Middle Mar...,144093.0,NaN,80083.0,YEARLY,Full-time,"Boston, MA",...,NaN,Executive,NaN,1.699050e+12,recruiting.adp.com,0,FULL_TIME,USD,BASE_SALARY,1699054660
2219,3757734999,5307136.0,"VP, Client Delivery",Thank you for considering a career at Ensemble...,NaN,NaN,NaN,NaN,Full-time,United States,...,NaN,Executive,NaN,1.699050e+12,ensemblehp.wd5.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699139303
2222,3757734983,356254.0,"VP, Security",Entrata is in search of an exceptionally talen...,NaN,NaN,NaN,NaN,Full-time,"Lehi, UT",...,NaN,Executive,NaN,1.699050e+12,jobs.lever.co,0,FULL_TIME,NaN,NaN,1699085197

In [62]:
print("Most important would be the entry level jobs")

Most important would be the entry level jobs

In [66]:
(
    raw_df
    [raw_df.formatted_experience_level == "Entry level"]
    .sort_values("min_salary")
)
# entry level jobs may not a minimum payment included, this will usually be discussed at a later stage

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
10989,3755595807,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699064980
10863,3755597827,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Dallas, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699084529
10799,3755599456,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699053318
10691,3756102306,21007.0,Entry Level Sales Apprentice,Entry Level Sales Apprentice Catalyte – Entry ...,19.24,NaN,7.25,HOURLY,Full-time,"Austin, TX",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699132603
11088,3755594942,21007.0,Digital Media Sales Planner Apprentice,Digital Media Sales Planner Apprentice Locatio...,19.24,NaN,7.25,HOURLY,Full-time,"Charlotte, NC",...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699085494
920,3757769057,23101.0,Outlet Office Assistant,Rooms To Go\n\nOutlet Office Assistant\n\nStar...,16.00,NaN,10.00,HOURLY,Full-time,"Lebanon, TN",...,NaN,Entry level,NaN,1.699070e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699088206
934,3757767504,23101.0,Warehouse Equipment Operator,Rooms To Go\n\nEquipment Operator I\n\nStartin...,80.00,NaN,10.00,HOURLY,Full-time,"Lakeland, FL",...,NaN,Entry level,NaN,1.699070e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699089176
961,3757764752,23101.0,Furniture Assembler,Rooms To Go\n\nFurniture Assembler \n\nStartin...,50.00,NaN,10.00,HOURLY,Full-time,"Lakeland, FL",...,NaN,Entry level,NaN,1.699070e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699081419
12219,3755583545,5343.0,Assembly worker,"Company\n\nUS1601 Coastal Sunbelt Produce, LLC...",48.00,NaN,10.00,HOURLY,Full-time,"Jessup, MD",...,NaN,Entry level,NaN,1.699040e+12,click.appcast.io,0,FULL_TIME,USD,BASE_SALARY,1699056607
11931,3755586534,77301.0,"Restaurant Crewmember - Cook, Cashier, and Cus...","Starting hiring pay range (based on location, ...",12.00,NaN,10.00,HOURLY,Full-time,"Laurel, MS",...,NaN,Entry level,NaN,1.699050e+12,raisingcanes.jibeapply.com,0,FULL_TIME,USD,BASE_SALARY,1699136750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33070,3689674972,252624.0,Field Supervisor,Company Description\nAWP Safety is North Ameri...,NaN,NaN,NaN,NaN,Full-time,"Clearwater, FL",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33085,3684441939,9260752.0,Property Accountant,Titus Talent Strategies has partnered with SAR...,NaN,NaN,NaN,NaN,Full-time,"Madison, WI",...,NaN,Entry level,NaN,1.692730e+12,NaN,1,FULL_TIME,NaN,NaN,1
33089,3683926341,252624.0,Billing Specialist,Company Description\nAWP is North America’s le...,NaN,NaN,NaN,NaN,Full-time,"North Canton, OH",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33090,3683918914,252624.0,Field Supervisor,Company Description\nAWP Safety is North Ameri...,NaN,NaN,NaN,NaN,Full-time,"Raleigh, NC",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33106,3675504176,12250.0,Interior Designer,"Comfort starts with our 13,000+ team members a...",NaN,NaN,NaN,NaN,Full-time,"Cerritos, CA",...,NaN,Entry level,NaN,1.698970e+12,lazboy.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1698993921
33118,3663878663,162380.0,Tax Accountant I - Hybrid,Bring YOUR energy to Alliant Energy!\n\nAt All...,NaN,NaN,NaN,NaN,Full-time,"Madison, WI",...,NaN,Entry level,NaN,1.699060e+12,alliantenergy.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699085123
33216,2148434077,88016.0,Transporter - Full Time Evenings 3pm-11pm; Rot...,Service / Ancillary Staff --> Housekeeping\nPa...,NaN,NaN,NaN,NaN,Full-time,"Patchogue, NY",...,NaN,Entry level,NaN,1.692850e+12,jobs.silkroad.com,0,FULL_TIME,NaN,NaN,1
33218,2148434032,17109.0,Tax Analyst,RaceTrac Company Overview\n\nJob Description:\...,NaN,NaN,NaN,NaN,Full-time,"Atlanta, GA",...,NaN,Entry level,NaN,1.692850e+12,careers.racetrac.com,0,FULL_TIME,NaN,NaN,1
33219,2148434019,1016.0,"Virtual Sales Associate Account Manager, Women...",Job Description Summary \n\nAs the Virtual Sal...,NaN,NaN,NaN,NaN,Full-time,"Connecticut, United States",...,NaN,Entry level,NaN,1.692850e+12,jobs.gecareers.com,0,FULL_TIME,NaN,NaN,1
33220,2148434014,1016.0,"Virtual Sales Associate Account Manager, Women...",Job Description Summary \n\nAs the Virtual Sal...,NaN,NaN,NaN,NaN,Full-time,"Maine, United States",...,NaN,Entry level,NaN,1.692850e+12,jobs.gecareers.com,0,FULL_TIME,NaN,NaN,1

In [70]:
# Lowest paying entry level job 
(
raw_df
.loc[10989])

job_id                                                               3755595807
company_id                                                              21007.0
title                                    Digital Media Sales Planner Apprentice
description                   Digital Media Sales Planner Apprentice Locatio...
max_salary                                                                19.24
med_salary                                                                  NaN
min_salary                                                                 7.25
pay_period                                                               HOURLY
formatted_work_type                                                   Full-time
location                                                             Dallas, TX
applies                                                                     NaN
original_listed_time                                            1699050000000.0
remote_allowed                                                              1.0
views                                                                      21.0
job_posting_url               https://www.linkedin.com/jobs/view/3755595807/...
application_url                          https://bit.ly/SAExpNov2023DalLinkedIn
application_type                                                   OffsiteApply
expiry                                                          1701640000000.0
closed_time                                                                 NaN
formatted_experience_level                                          Entry level
skills_desc                                                                 NaN
listed_time                                                     1699050000000.0
posting_domain                                                              NaN
sponsored                                                                     0
work_type                                                             FULL_TIME
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                              1699064980
Name: 10989, dtype: object

In [71]:
(
raw_df
.loc[10989]
.min_salary
*8
*6
*4)

1392.0

In [76]:
print(f"${1392*12} annually --> Pretty bad considering COL in the USA")

$16704 annually --> Pretty bad considering COL in the USA

In [77]:
print(
raw_df
.loc[10989]
.description)

Digital Media Sales Planner Apprentice Location: Hybrid role, Some Remote / Some On-Site. You need to live within a commutable distance of Dallas, TX Become an Entry Level Sales Apprentice. No experience needed.
About CatalyteCatalyte delivers entry and near-entry-level roles for data analytics, programmatic ad buying, sales and IT services for over 1,000 positions at 250 companies. Apprentices advanced through Catalyte’s platform consistently outperform traditional hiring methods in speed, quality, and performance. By giving high-grit, high-aptitude talent the opportunity to launch new careers in the technology industry, Catalyte transforms individuals, companies, and communities. For more information, visit www.catalyte.io.We are rewiring the talent market and have established a strong leading position, serving world-class companies. Position Overview:We’re looking for people who have a passion for sales and are eager to jumpstart their career within the profession. As an apprentice at Catalyte, you will be given all the fundamental skills to work for exciting, fast-paced tech companies in a sales capacity. You will learn to proactively identify and engage with potential customers, qualify leads, and initiate sales conversations. We will hone your skills in prospecting, communication, negotiation, and relationship-building. You will learn to navigate sales tools and technologies, conduct market research, analyze customer needs, and work closely with sales and marketing teams. You will also develop resilience, adaptability, and time management skills as to handle rejection, manage a high volume of outbound activities, troubleshoot client issues, and prioritize tasks to meet sales targets. The ideal candidate needs to be naturally curious with a light, fun and friendly attitude. You have a hunter’s mentality and refuse to take no for an answer. You love to compete and thrive in fast-paced, unstructured environments. As a scrappy self-starter, you demonstrate grit and resilience. You possess excellent communication, active listening, adaptability, and relationship-building skills while maintaining a strong work ethic and high energy for the job. An Digital Media Sales Planner Apprentice job will serve as a launching pad for various career opportunities within the sales, marketing and leadership fields of the tech industry. Roles & Responsibilities MAY include:· Lead generation (inclusive of conducting research to identify potential prospects, qualifying those prospects as ideal customers, and maintaining internal records of those lead lists)Manage data for current and new prospects within relevant sales tools, ensuring all qualified deals are logged, information is accurate, and documents are attached.· Proactive, outbound cold callingCultivating personalized messages and approaching customers through follow-up emails/calls/any other form of communication.Qualifying and generating interest to top tier accounts through email, LinkedIn Sales Nav, phone calls, and video messaging via various sales tools· Work with the sales team to develop and grow the sales pipeline to consistently meet quarterly revenue goals.Communicate effectively with clients, internal stakeholders, and cross-functional teams, ensuring accurate campaign details and excellent customer service.· Review client requests and collaborate internally to create strong sales proposals that drive revenue and retention (inclusive of preparing key data points, historical findings and relevant advertiser research).Contribute to in-person and/or video conference meetings with clients, including creation of presentations, calendar coordination, campaign insights, and platform best practices.Manage the setup, execution, and optimization of direct and programmatic ad campaigns across multiple clients (inclusive of ensuring pacing and strong performance of campaigns, proactively identifying areas for optimization and upsell opportunities).Provide comprehensive reporting during the campaign to identify optimization and incremental revenue opportunities for clients across all buying channels.Collaborate with internal teams to troubleshoot technical issues related to measurement, targeting, and ad-serving platforms.Stay updated on industry trends, technologies, and best practices related to digital media and advertising.
Skills and Abilities:
Must have a passion for sales and working with people.A natural curiosity with a light, fun and friendly attitudeA competitive nature and hunter’s mentality (refuses to take no for an answer)Resilient, scrappyDemonstrated ability to cultivate strong relationships & build trust with external partners.Excellent communication, presentation, and written skillsAbility to thrive in a fast-paced, deadline-driven environment, demonstrating a proactive and solutions-oriented mindset.Ability to effectively collaborate with cross-functional teams.Team player who believes in the power of collaboration and teamwork.Strong organizational, analytical, and project management skillsStrong attention to detail.Critical thinking and problem-solving skills.Ability to diagnose, troubleshoot, and fix campaign issues.Familiarity with Google and Microsoft suite products, including Excel and PowerPoint.Experience in customer-facing roles is a plus.
Who can apply?Anyone who meets this criteria can apply:· Be at least 18 years old· Basic proficiency using a computer and the internet· Ability to work in the USPay and benefitsYou will receive the minimum hourly wage in your state for the first 6 weeks. Starting in week 7, pay will change to $40,000/year paid hourly ($19.24), and you will receive additional benefits including paid holidays and time off, health, vision, and dental benefitsCatalyte provides equal employment opportunities to all employees and applicants for employment and prohibits discrimination and harassment of any type without regard to race, color, religion, age, sex, national origin, disability status, genetics, protected veteran status, sexual orientation, gender identity or expression, or any other characteristic protected by federal, state or local laws.

In [78]:
print("The saving grace")

The saving grace

In [79]:
(
    raw_df
    [raw_df.formatted_experience_level == "Entry level"]
    .sort_values("min_salary", ascending=False)
)
# entry level jobs may not a minimum payment included, this will usually be discussed at a later stage

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
3229,3757711333,10459.0,Associate Attorney - Litigation,The Seattle Office of BakerHostetler is seekin...,270000.0,NaN,235000.0,YEARLY,Full-time,Greater Seattle Area,...,NaN,Entry level,NaN,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699054882
25267,3697357540,165648.0,Dir Sales,"Rambus, a premier chip, and silicon IP provide...",410000.0,NaN,220000.0,YEARLY,Full-time,"San Jose, CA",...,NaN,Entry level,NaN,1.692820e+12,careers.rambus.com,1,FULL_TIME,USD,BASE_SALARY,1
18757,3701317748,19409.0,"Associate Vice President (AVP), Strategic Medi...",About Us\nDavid Yurman is a celebrated America...,280000.0,NaN,215000.0,YEARLY,Full-time,"New York, NY",...,NaN,Entry level,NaN,1.692740e+12,davidyurman.wd1.myworkdayjobs.com,0,FULL_TIME,USD,BASE_SALARY,1
8797,3756163976,164889.0,Associate — Litigation (Supreme Court & Appell...,Associate – Litigation (Supreme Court & Appell...,415000.0,NaN,215000.0,YEARLY,Full-time,"Washington, DC",...,NaN,Entry level,NaN,1.699070e+12,careers.mwe.com,0,FULL_TIME,USD,BASE_SALARY,1699085644
31727,3693048249,2503130.0,Lead Data Scientist,We are always looking to connect with Lead Dat...,254000.0,NaN,188000.0,YEARLY,Full-time,United States,...,NaN,Entry level,NaN,1.692730e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
4288,3757492621,2480854.0,Data Platform Engineer - ML Platform,About The Team\n\nThe ML Platform team at Stit...,199000.0,NaN,186000.0,YEARLY,Full-time,United States,...,NaN,Entry level,NaN,1.699050e+12,www.stitchfix.com,0,FULL_TIME,USD,BASE_SALARY,1699048372
25615,3697340761,163732.0,Experienced Associate - Private Capital Markets,What is the position? Experienced Associate fo...,225000.0,NaN,185000.0,YEARLY,Full-time,"New York, United States",...,NaN,Entry level,NaN,1.692730e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1
26757,3694107526,2857634.0,"Product Manager II, Developer Experience","At Coinbase, our mission is to increase econom...",206000.0,NaN,175100.0,YEARLY,Full-time,Los Angeles Metropolitan Area,...,NaN,Entry level,NaN,1.692840e+12,www.coinbase.com,0,FULL_TIME,USD,BASE_SALARY,1
26756,3694107528,2857634.0,"Product Manager II, Developer Experience","At Coinbase, our mission is to increase econom...",206000.0,NaN,175100.0,YEARLY,Full-time,"Miami, FL",...,NaN,Entry level,NaN,1.692840e+12,www.coinbase.com,0,FULL_TIME,USD,BASE_SALARY,1
26672,3694109438,2857634.0,"Product Manager II, Developer Experience","At Coinbase, our mission is to increase econom...",206000.0,NaN,175100.0,YEARLY,Full-time,"Atlanta, GA",...,NaN,Entry level,NaN,1.692840e+12,www.coinbase.com,0,FULL_TIME,USD,BASE_SALARY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33070,3689674972,252624.0,Field Supervisor,Company Description\nAWP Safety is North Ameri...,NaN,NaN,NaN,NaN,Full-time,"Clearwater, FL",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33085,3684441939,9260752.0,Property Accountant,Titus Talent Strategies has partnered with SAR...,NaN,NaN,NaN,NaN,Full-time,"Madison, WI",...,NaN,Entry level,NaN,1.692730e+12,NaN,1,FULL_TIME,NaN,NaN,1
33089,3683926341,252624.0,Billing Specialist,Company Description\nAWP is North America’s le...,NaN,NaN,NaN,NaN,Full-time,"North Canton, OH",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33090,3683918914,252624.0,Field Supervisor,Company Description\nAWP Safety is North Ameri...,NaN,NaN,NaN,NaN,Full-time,"Raleigh, NC",...,NaN,Entry level,NaN,1.692830e+12,jobs.smartrecruiters.com,1,FULL_TIME,NaN,NaN,1
33106,3675504176,12250.0,Interior Designer,"Comfort starts with our 13,000+ team members a...",NaN,NaN,NaN,NaN,Full-time,"Cerritos, CA",...,NaN,Entry level,NaN,1.698970e+12,lazboy.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1698993921
33118,3663878663,162380.0,Tax Accountant I - Hybrid,Bring YOUR energy to Alliant Energy!\n\nAt All...,NaN,NaN,NaN,NaN,Full-time,"Madison, WI",...,NaN,Entry level,NaN,1.699060e+12,alliantenergy.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699085123
33216,2148434077,88016.0,Transporter - Full Time Evenings 3pm-11pm; Rot...,Service / Ancillary Staff --> Housekeeping\nPa...,NaN,NaN,NaN,NaN,Full-time,"Patchogue, NY",...,NaN,Entry level,NaN,1.692850e+12,jobs.silkroad.com,0,FULL_TIME,NaN,NaN,1
33218,2148434032,17109.0,Tax Analyst,RaceTrac Company Overview\n\nJob Description:\...,NaN,NaN,NaN,NaN,Full-time,"Atlanta, GA",...,NaN,Entry level,NaN,1.692850e+12,careers.racetrac.com,0,FULL_TIME,NaN,NaN,1
33219,2148434019,1016.0,"Virtual Sales Associate Account Manager, Women...",Job Description Summary \n\nAs the Virtual Sal...,NaN,NaN,NaN,NaN,Full-time,"Connecticut, United States",...,NaN,Entry level,NaN,1.692850e+12,jobs.gecareers.com,0,FULL_TIME,NaN,NaN,1
33220,2148434014,1016.0,"Virtual Sales Associate Account Manager, Women...",Job Description Summary \n\nAs the Virtual Sal...,NaN,NaN,NaN,NaN,Full-time,"Maine, United States",...,NaN,Entry level,NaN,1.692850e+12,jobs.gecareers.com,0,FULL_TIME,NaN,NaN,1

In [80]:
(
raw_df
.loc[3229])

job_id                                                               3757711333
company_id                                                              10459.0
title                                           Associate Attorney - Litigation
description                   The Seattle Office of BakerHostetler is seekin...
max_salary                                                             270000.0
med_salary                                                                  NaN
min_salary                                                             235000.0
pay_period                                                               YEARLY
formatted_work_type                                                   Full-time
location                                                   Greater Seattle Area
applies                                                                     NaN
original_listed_time                                            1699050000000.0
remote_allowed                                                              NaN
views                                                                      17.0
job_posting_url               https://www.linkedin.com/jobs/view/3757711333/...
application_url               https://bhrecruiting.bakerlaw.com/viRecruitSel...
application_type                                                   OffsiteApply
expiry                                                          1701640000000.0
closed_time                                                                 NaN
formatted_experience_level                                          Entry level
skills_desc                                                                 NaN
listed_time                                                     1699050000000.0
posting_domain                                                              NaN
sponsored                                                                     0
work_type                                                             FULL_TIME
currency                                                                    USD
compensation_type                                                   BASE_SALARY
scraped                                                              1699054882
Name: 3229, dtype: object

In [81]:
(
raw_df
.loc[3229]
.description)

'The Seattle Office of BakerHostetler is seeking to hire associates with 3-4 years’ experience to join its Litigation Practice Group. The candidate would be part of the Firm’s ongoing representation of major corporate clients in all types of complex commercial, securities, and employment litigation. Many of the matters involve the defense of class actions. This opportunity is ideal for those individuals who wish to further their careers in a supportive, collegial and entrepreneurial environment.\nQualifications include:• Excellent written and oral communication skills;• Superior drafting and research skills;• A strong academic record;• AmLaw 100 law firm experience;• Must be admitted to practice law in Washington state; and• Must be a team player and a self-starter with the ability to work independently as well as in a team environment.\nIdeal candidates will have demonstrated the following attributes and/or qualifications:• Post law school graduation experience as a federal or state court trial or appellate judicial clerk for a minimum of one year.\nThe expected annual salary range for this position is $235,000 - $270,000. The salary offered will be determined by a wide range of factors including but not limited to experience level, education/training, and relevant skills. Associates also participate in a performance and hours-based bonus program. BakerHostetler offers a comprehensive and competitive benefits program including group health, dental and vision insurance, vacation (20 days), paid holidays (10 days), 401(k) plan, parental leave (10 weeks, not including disability, where applicable, and accrued vacation), family care program, wellness program, life and accident insurance, and short and long-term disability.\nApplication Submission Information:If you have any questions about the position or process, please contact Recruiting Manager, Grace Keller, at gkeller@bakerlaw.com.'

In [87]:
print(
raw_df
.loc[3229]
.min_salary
/12
,
" HOw is this entry level pay?")

19583.333333333332  HOw is this entry level pay?

In [89]:
# Mean min_salary
raw_df.min_salary.mean()

62650.128421384215

In [91]:
# Minimum 
raw_df.min_salary.min()

7.25

In [92]:
# 
raw_df.min_salary.max()

800000.0

In [94]:
raw_df.min_salary.describe()

count     11111.000000
mean      62650.128421
std       58732.644143
min           7.250000
25%          40.945000
50%       62128.000000
75%      100000.000000
max      800000.000000
Name: min_salary, dtype: float64

In [95]:
raw_df.min_salary.std()

58732.64414270727

In [ ]:
# Is there a correlation between min_salary and formatted_experience_level?